[2017-06-30 04:46] phuonghuynh opened #1 "Migrate things from riboseinc/aws-sqs-plugin"

[2017-06-30 04:50] phuonghuynh opened #3 "Enable Travis CI"
- [x] `.travis.yml` is already done
- [x] Enable [Travis CI](https://travis-ci.org/) build, travis-ci.org
- [x]  Travis badge added in the README

[2017-06-30 04:51] phuonghuynh opened #4 "Using the same SQS queue for multiple CodeCommit repositories"
from riboseinc/aws-sqs-plugin/issues/13

[2017-06-30 04:52] phuonghuynh opened #5 "Publish to Jenkins Plugin Dashboard"
- [x] Test the publish version
- [x] Beta versioning support
- [x] Submit JIRA issue - https://issues.jenkins-ci.org/browse/HOSTING-362
- [x] Review Contributors list
- [x] Fix up JIRA comments

[2017-06-30 04:56] phuonghuynh opened #6 "Miscellaneous tasks"
- [x] Contribution guideline
- [x] Review Readme
- [x] Review license

[2017-06-30 06:56] #1 closed

[2017-06-30 10:25] phuonghuynh opened #7 "You can use "testjenkinssqs" instead of the full URL"
Original Code showing that it can use Queue Name
<img width="799" alt="screenshot at jun 30 17-23-33" src="https://user-images.githubusercontent.com/705510/27731839-ee39e318-5db8-11e7-8288-dba48a9b72c2.png">

But using Queue Name not work
<img width="809" alt="screenshot at jun 30 17-24-59" src="https://user-images.githubusercontent.com/705510/27731872-0ec610fc-5db9-11e7-89f5-6f74b6b1fbd2.png">

W

[2017-06-30 10:52] phuonghuynh opened #8 "Fix help document link"
Help now link to old repo https://github.com/nickgrealy/aws-sqs-plugin/, this is not correct

[2017-06-30 17:01] ronaldtse commented on #3
Enabled Travis CI!

[2017-06-30 17:01] #3 closed

[2017-07-01 03:11] ronaldtse commented on #7
I think we should accept ARN and URL as text, and also a dropdown to list SQS queues?

Instead of supporting "Queue Name", we can use the the existing account to find SQS queues that belong to (or are accessible through) that account using a dropdown selector?

[2017-07-04 15:57] phuonghuynh commented on #7
Fixed in #9
<img width="1262" alt="screenshot at jul 04 12-36-54" src="https://user-images.githubusercontent.com/705510/27836993-23aca19c-610c-11e7-8be0-35ef40824e76.png">

[2017-07-04 16:22] ronaldtse commented on #7
Very nice @phuonghuynh , thank you!

[2017-07-04 16:23] ronaldtse commented on #7
Closed since it's fixed in #9

[2017-07-04 16:23] #7 closed

[2017-07-05 04:24] ronaldtse commented on #5
@phuonghuynh what's the procedure for doing this?

[2017-07-05 04:26] ronaldtse commented on #5
For the record here's how it's done. https://wiki.jenkins.io/display/JENKINS/Hosting+Plugins

[2017-07-05 13:57] #6 closed

[2017-07-07 10:40] phuonghuynh opened #13 "Fix Activity Log"
From https://github.com/riboseinc/aws-sqs-plugin/issues/3

[2017-07-07 14:15] phuonghuynh commented on #13
@ronaldtse  Atm, the log in the root folder of project showing only last SQS message,
could we move log to build number so that user can have have all logs
<img width="894" alt="screenshot at jul 07 21-12-38" src="https://user-images.githubusercontent.com/705510/27961609-73ed58c8-6359-11e7-9135-e309feeb67cf.png">

[2017-07-07 14:19] phuonghuynh commented on #8
Done

[2017-07-07 14:19] #8 closed

[2017-07-07 14:22] phuonghuynh commented on #4
Fixed in #9 but need to test. I will update integration test for this case

[2017-07-08 01:24] ronaldtse commented on #13
@phuonghyynh yes, great suggestion!

[2017-07-10 07:22] phuonghuynh opened #14 "Dont delete SQS Message if any exception thrown"
Atm the plugin always delete its messages even if there are errors happened during the processing. We need to fix this

[2017-07-10 07:25] phuonghuynh opened #15 "Persist SQS Trigger to different file name"
SQSTrigger is saving in file `io.relution.jenkins.awssqs.SQSTrigger.xml`, this get conflict with the old plugin

[2017-07-10 07:25] phuonghuynh opened #16 "Update Integration test for multi projects"
Test for #4

[2017-07-11 04:47] ronaldtse opened #17 "Add link to our Jenkins Wiki page"
As title. Link here: https://wiki.jenkins.io/display/JENKINS/AWS+CodeCommit+Trigger+Plugin

[2017-07-11 04:48] ronaldtse opened #18 "Add our Jenkins Wiki page to pom.xml"
See: https://wiki.jenkins.io/display/JENKINS/Hosting+Plugins#HostingPlugins-CreatingaWikipage

Our link: https://wiki.jenkins.io/display/JENKINS/AWS+CodeCommit+Trigger+Plugin

[2017-07-11 04:54] #17 closed

[2017-07-11 04:54] ronaldtse commented on #18
Closed in #19

[2017-07-11 04:54] #18 closed

[2017-07-11 05:19] phuonghuynh opened #20 "Update Wiki info"
Our wiki info is empty now, "No Information For This Plugin", https://wiki.jenkins.io/display/JENKINS/AWS+CodeCommit+Trigger+Plugin

[2017-07-11 05:21] ronaldtse commented on #20
I'm not sure why it's not pulling, maybe because we just submitted our plugin to their release repo but it's not merged yet.

[2017-07-13 04:48] phuonghuynh commented on #13
Done in https://github.com/jenkinsci/aws-codecommit-trigger-plugin/pull/12

[2017-07-13 04:48] #13 closed

[2017-07-13 04:51] phuonghuynh commented on #20
Fixed https://wiki.jenkins.io/display/JENKINS/AWS+CodeCommit+Trigger+Plugin

[2017-07-13 04:51] #20 closed

[2017-07-13 04:52] phuonghuynh commented on #5
We can find our plugin published here https://plugins.jenkins.io/aws-codecommit-trigger

[2017-07-13 04:52] #5 closed

[2017-07-13 04:53] phuonghuynh opened #23 "Integration test updates"
- [x]  Using the same SQS queue for multiple CodeCommit repositories
- [x]  Update Integration test for multi projects

[2017-07-13 04:54] phuonghuynh commented on #16
Move to #23

[2017-07-13 04:54] #16 closed

[2017-07-13 04:54] phuonghuynh commented on #4
Move to #23

[2017-07-13 04:54] #4 closed

[2017-07-13 06:44] phuonghuynh commented on #14
This might not be a bug, since the build scheduled in parallel. We will put exception to Activity log screen.

[2017-07-13 06:44] #14 closed

[2017-07-13 08:03] #15 closed

[2017-07-14 05:30] phuonghuynh commented on #23
"Update Integration test for multi projects" conflicts with item 1 "Using the same SQS queue for multiple CodeCommit repositories"

[2017-07-15 07:26] ronaldtse opened #24 "Change plugin namespace from "io.relution.jenkins.awssqs" to custom one"
`io.relution.jenkins` is the namespace of M-Way Solutions. We should use a custom namespace instead to prevent conflicts.

[2017-07-17 17:42] #24 closed

[2017-07-18 02:06] kwkwan opened #27 "Should allow selection of multiple SQS queues per set of AWS credentials"
Manage Jenkins screen should allow:
* every set of credentials should allow selection of multiple SQS queues

![manage](https://user-images.githubusercontent.com/29566367/28297420-6e53e4b4-6ba0-11e7-8d55-e389628f0bc5.png)

[2017-07-18 02:07] kwkwan opened #28 "Project configuration should allow selection of which CodeCommit repo updates to subscribe to for the selected SQS queue"
Project configuration should allow:
* Choosing which CodeCommit repo to subscribe (not only branch)
* Repo name can be selected from the Git SCM plugin (the one configured to pull) or manually entered

![project](https://user-images.githubusercontent.com/29566367/28297419-6e4adf7c-6ba0-11e7-9e23-bcb03bfe9a7d.png)

[2017-07-18 07:32] phuonghuynh commented on #28
@kwkwan we are matching against code commit repo name?

[2017-07-18 07:53] phuonghuynh commented on #28
@kwkwan Can I have your user case for this? :)

[2017-07-18 07:54] ronaldtse commented on #28
@phuonghuynh since are sending updates from multiple CodeCommit repos to the same SQS queue, we need to differentiate the updates -- we only want one repo update to to trigger the build.

[2017-07-18 12:38] phuonghuynh commented on #28
@kwkwan the plugin now matching against SCM repo link already, so, if the message not coming for the SCM Job, it not triggered.

The view will be update to help ppl wont get confused

<img width="1272" alt="screenshot at jul 18 19-38-09" src="https://user-images.githubusercontent.com/705510/28317321-a6f03638-6bf0-11e7-85e1-e1f4f7bd2976.png">

Adding integration test for this case

[2017-07-18 13:52] ronaldtse commented on #28
@phuonghuynh this is very nice indeed, thanks! 👍

[2017-07-19 02:36] #28 closed

[2017-07-19 06:18] ronaldtse opened #29 "Should work with Pipeline Jobs"
Currently on pipeline jobs the line "Build when a Aws Code Commit SNS is published to an Amazon SQS queue" is not present.

It will be very useful to use this plugin on pipeline jobs too.

[2017-07-19 06:43] ronaldtse opened #30 "Unable to trigger job"
[code]

`MYJOBNAME` is configured to subscribe to:
* branch: tried `master` and `refs/heads/master` but both don't work

[2017-07-19 06:44] ronaldtse commented on #30
Are we getting the repo name directly from the `eventSourceARN`?

[2017-07-19 06:50] phuonghuynh commented on #30
Yes, but it match the pattern, `"git-codecommit.%s.amazonaws.com"` i will fix it soon,

[2017-07-19 06:55] ronaldtse commented on #30
`git-codecommit.%s.amazonaws.com` isn't even in the SNS message...? I think it should just match the part labeled `MYREPONAME`.

Maybe it's better to separate the CodeCommit URL from the SCM section (in URL) and the repo subscription (which is in ARN). Or better yet, we can use the CodeCommit URL to enquire AWS CodeCommit to see the ARN of the subscription.

[2017-07-19 07:08] phuonghuynh commented on #30
Yes, i agree

[2017-07-19 17:31] phuonghuynh commented on #30
@ronaldtse can i have your SCM config for this bug? does it like mine

<img width="1270" alt="screenshot at jul 20 00-30-37" src="https://user-images.githubusercontent.com/705510/28380770-bee50744-6ce2-11e7-9357-a4b4698fc20e.png">

[2017-07-19 17:48] phuonghuynh commented on #30
My code commit link is

<img width="820" alt="screenshot at jul 20 00-46-47" src="https://user-images.githubusercontent.com/705510/28381459-200eaf64-6ce5-11e7-8ecd-d17a01673d15.png">

[2017-07-20 05:21] ronaldtse commented on #30
My difference with yours is just in the link, I have `us-east-1` instead of your `us-west-2`.

[2017-07-20 16:43] phuonghuynh commented on #30
how about `v1/repos/xxx`? is there any `v2/repose/xxx` ?

[2017-07-20 16:56] phuonghuynh commented on #30
which version you r using? @ronaldtse

[2017-07-20 17:05] phuonghuynh commented on #30
Tested with the last code (master)
[code]

[2017-07-21 03:05] ronaldtse commented on #30
@phuonghuynh I'm using 1.8 but still cannot trigger.

Using "master" in the matcher:

[code]

Using an "empty" matcher (for wildcard):

[code]

[2017-07-21 03:06] ronaldtse commented on #30
@phuonghuynh can we show less debugging messages per event?

Each event should just show:
* 1 time print out the SNS message content JSON
* For each job considered, just 1 line on whether it is matching or not, and the matching conditions

Thanks!

[2017-07-21 03:07] ronaldtse commented on #30
Right now there is only `v1` links, so we don't need to do anything else there.

[2017-07-21 06:04] phuonghuynh commented on #30
1.9 released, could you try it while I updating integration test for this case.

[2017-07-21 07:03] ronaldtse commented on #30
OK, just installed it.

[2017-07-21 07:41] ronaldtse commented on #30
@phuonghuynh it still doesn't work in 1.9...

This time using a 'matcher' of 'master'.

[code]

[2017-07-21 07:54] phuonghuynh commented on #30
look like not new log, i added something to the log, `[CodeCommitEvent]`...

[code]

[2017-07-21 08:04] ronaldtse commented on #30
Restarted Jenkins and tried again:

Seems that the line `[CodeCommitEvent]` is missing for the repo that actually matched!?

[code]

[2017-07-21 08:07] phuonghuynh commented on #30
Let me check, no [CodeCommitEvent] => the SCM is match

[2017-07-21 08:07] ronaldtse commented on #30
I tried another repo and indeed the `[CodeCommitEvent]` line doesn't show up if matches, but doesn't trigger the job...

[2017-07-21 08:10] phuonghuynh commented on #30
is this project multi SCM or single SCM ?

[2017-07-21 08:14] ronaldtse commented on #30
Normal Single SCM.

<img width="705" alt="scm-config" src="https://user-images.githubusercontent.com/11865/28454953-5f615c52-6dfd-11e7-953c-9a699f20ecf8.png">

[2017-07-21 08:29] phuonghuynh commented on #30
might be i found the issue, thanks for you pic 👍

[2017-07-21 09:51] phuonghuynh commented on #30
Hope this fixed in v10 (released) , i tested with the config `refs/heads/master` and the integration (old fixtures passed)

[2017-07-21 14:23] ronaldtse commented on #30
It's fixed @phuonghuynh ! Is are the matchers working properly?

[2017-07-21 18:11] ronaldtse opened #31 "Correct description of trigger in project page"
<img width="582" alt="project-trigger" src="https://user-images.githubusercontent.com/11865/28476572-c42b6378-6e50-11e7-8155-a00d70e9a034.png">

The description on the checkbox line should be:
"Build when a CodeCommit repository is updated and notifies a SQS queue."

Then:
"This job will be triggered whenever the SQS queue receives an SNS message that any of the following CodeCommit repositories a

[2017-07-22 15:12] phuonghuynh commented on #30
Yep, i moving the matcher to GitPlugin Matcher to simply this process in next release, https://github.com/phuonghuynh/aws-codecommit-trigger-plugin/blob/betterlogging/src/main/java/com/ribose/jenkins/plugin/awscodecommittrigger/matchers/model/SubscribeBranchEventTriggerMatcher.java#L45

[2017-07-24 09:28] phuonghuynh commented on #31
Fixed in https://github.com/jenkinsci/aws-codecommit-trigger-plugin/pull/23/files#diff-f84c40ce309754cccbe51068d8286a04

[2017-07-24 09:30] phuonghuynh commented on #30
Added test for this case in https://github.com/jenkinsci/aws-codecommit-trigger-plugin/pull/23/files#diff-1c508aadabc0dfd8dd98987c245e5eb4

[2017-07-24 09:38] phuonghuynh opened #32 "Remove Trigger field subscribed_branch"
@ronaldtse The plugin requires SCM to be configured (Git/MultiSCM only for now), we can read value of `branches` from Job SCM configuration and use that value to match against CodeCommit Message.
So could we remove this field subscribed_branch?

[2017-07-24 09:45] ronaldtse commented on #32
I think we should support two radio buttons:
- automatic updates using the SCM plugin details. In this mode we can assume the repo address and subscribed branches from it as you mentioned.
- manual confirmation of repo address and subscribed branches. Just like now, but the repo address can also be configured. For example, one may wish to re-build an upstream project that uses a plugin that has be

[2017-07-25 17:31] ronaldtse commented on #30
Yes @phuonghuynh, this is fixed in 1.11! Thanks!

[2017-07-25 17:31] #30 closed

[2017-07-27 06:12] phuonghuynh commented on #29
@ronaldtse according to Pipeline source code, it requires to build the pipeline job at least one time to return SCM configuration info, that is used in our plugin

[code]

[2017-07-27 06:12] phuonghuynh commented on #29
We could add this note to README

[2017-07-27 06:12] phuonghuynh commented on #31
I think v1.11 fixed this

[2017-07-27 06:14] phuonghuynh commented on #32
I agree, let me know if we should implement this, i will change to `enhancement` label then

[2017-07-31 18:42] ronaldtse commented on #32
Yes, @phuonghuynh let's do this. I've added the label.

[2017-07-31 18:43] ronaldtse commented on #31
Yes, thanks @phuonghuynh !

[2017-07-31 18:43] #31 closed

[2017-07-31 18:45] ronaldtse commented on #29
In pipelines the SCM config may be given inside the pipeline code. We don't need to do it automatically.

As long as we have a pipeline job configuration section for our plugin to "subscribe to 1 or more CodeCommit repo updates", it is good enough? i.e. I know what repos are used in the pipeline job, so I manually subscribe them in the job config.

[2017-07-31 18:46] ronaldtse commented on #23
@phuonghuynh "using same SQS queue for multiple CodeCommit repositories" is already working in 1.11. Are the tests integrated and we can close this?

[2017-08-01 04:21] phuonghuynh commented on #23
Sure

[2017-08-01 04:21] #23 closed

[2017-08-02 03:21] phuonghuynh opened #34 "Travis auto release/deploy support?"
@ronaldtse Travis would listen on a branch "release" or branch "master"... and do deploy if any commit on that branch.
We should grant Travis credentials to do make a new release/deployment.

[2017-08-02 03:27] ronaldtse commented on #34
@phuonghuynh we already have that enabled. Where are you seeing it isn't doing it?

[2017-08-02 04:21] phuonghuynh commented on #34
We not allow travis to do deployment to Jenkins Repo for now, https://github.com/jenkinsci/aws-codecommit-trigger-plugin/blob/master/.travis.yml

[2017-08-02 04:45] ronaldtse commented on #34
In this case could you help enable it? Thanks!

[2017-08-05 03:13] phuonghuynh commented on #29
@ronaldtse could you confirm v12 working with pipeline as expected?

[2017-08-05 04:00] ronaldtse commented on #29
@phuonghuynh Will be trying out today!

[2017-08-05 04:27] phuonghuynh commented on #29
@ronaldtse 👍
We should try 2 cases, i think:
 - Existing pipeline job
 - New pipeline job

[2017-08-06 03:11] ronaldtse commented on #29
@phuonghuynh I've tested it, and it does work!

There are these issues however:

* Pipeline job should have SCM enabled -- i.e. Pipeline script is stored and executed from SCM. Not all pipeline scripts are executed from SCM, some are just inline.

* Pipeline job description doesn't show the CodeCommit URL like the normal jobs e.g., "https://git-...codecommit.../v1/repos/". This display field is mi

[2017-08-10 05:30] phuonghuynh opened #35 "Log output review"
Sample log messages for one SQS like bellow, INFO level is enabled by default
Which log entries are redundant?
[code]

[2017-08-10 05:55] ronaldtse commented on #32
I think we should do this.

Using the default repository but detected error:

![plugin-using-detected-error](https://user-images.githubusercontent.com/11865/29156265-7c538688-7dd3-11e7-8b10-b2a669adac29.png)

Using the default repository and success, detected branch:

![plugin-using-detected-repo-branch](https://user-images.githubusercontent.com/11865/29156266-7c58cf4e-7dd3-11e7-90d3-817e41d1d023.

[2017-08-10 13:59] phuonghuynh commented on #32
@ronaldtse one option only? `Subscribe to repository defined in SCM`
How about `Manually enter CodeCommit repo name / URL`, see #29

[2017-08-10 14:04] ronaldtse commented on #32
Yes, we can change the button to say "Manually subscribe to a CodeCommit repository" when there is no subscription,and when there is at least one, we can call the button "Add an additional CodeCommit repo" then it would work?

Could there be multiple SCM repos in the SCM plugin in a job?

[2017-08-10 14:17] phuonghuynh commented on #32
The plugin support Multi SCM in Job Configure already.

[2017-08-10 15:55] ronaldtse commented on #32
Then I guess we should allow the case of:
* subscribe to multiple SCM CodeCommit repos (and allow enable / disable each of them) + subscribe to multiple manual CodeCommit repos?

[2017-08-12 04:17] ronaldtse commented on #35
Some log entires should be shown only once per message, and some per-repo for matching:

Only show once per message in the beginning (not per repo):

Per repo:

Per repo:

Per repo:

Do we need this?

Once per triggered repo:
Aug 10, 2017 12:27:59 PM [log]
INFO: [c.r.j.p.a.SQSTrigger][thread-0000B1] [job-testjenkins-pipeline] Hurray! Execute it

Once per triggered repo:

Once per message:
Aug 10,

[2017-08-12 04:18] ronaldtse commented on #35
In case of failure, this message is shown, but should not be shown:

[2017-08-12 04:58] phuonghuynh commented on #32
@ronaldtse ppl always go with Job SCM config?
how about if they dont want to read it, they can manually enter the repo url.

could we repeat the section bellow?
![imageedit_1_4368220388](https://user-images.githubusercontent.com/705510/29237953-51295e3e-7f53-11e7-9152-bf9cd0f3cadd.png)

[2017-08-12 06:01] phuonghuynh commented on #32
@ronaldtse i updated the UI
<img width="1279" alt="screenshot at aug 12 13-00-51" src="https://user-images.githubusercontent.com/705510/29238374-52cc45f2-7f5e-11e7-87de-ff1c79c7bd27.png">

[2017-08-12 06:08] phuonghuynh commented on #32
@ronaldtse This GUI allow ppl able to not use SCM defined in Job Config since Pipeline script might not has SCM step.

[2017-08-12 07:48] ronaldtse commented on #32
Yes, we should "repeat" the manual repo section.

Exactly, for pipeline jobs that have no SCM defined in Job Config, should still be able to subscribe to codecommit repos manually (one or many).

[2017-08-15 02:41] kwkwan opened #36 "SQS Messages that do not trigger build should still be consumed / deleted"
If you push a commit to a subscribed repo, but not subscribed branch, it will not trigger any job, but the plugin keeps reading it because it is never deleted.

The plugin should always consume the message from SQS queue (delete it) regardless if it triggers anything.

[2017-08-15 02:43] kwkwan opened #37 "Single message should be able to trigger multiple jobs"
Currently, only the first matching job will be triggered, then the message deleted and other matching jobs are not even looked at.

The plugin should trigger ALL jobs on an SQS message that matches the subscriptions.

[2017-08-15 11:21] phuonghuynh commented on #36
@kwkwan in case we have multiple triggers, if trigger 1 delete it, trigger 2 might miss it. The plugin now only delete Message if the message matched its configuration. I think we could add a button in `SQS Activity Action` to let user manually delete not-proceed messages.
/cc @ronaldtse

[2017-08-15 11:23] phuonghuynh commented on #37
I think this issue related to #36

[2017-08-15 12:10] ronaldtse commented on #36
@phuonghuynh I think we should check the jobs one by one in a loop, and when the loop is finished, the SQS message should be deleted. Otherwise we will have many stale messages. For example, a topic branch that has no job subscription. This is what we're seeing.

[2017-08-15 12:11] ronaldtse commented on #37
This is a separate issue that is related. The basic functionality is the SQS message should trigger all jobs that match, not only the first matching one. Thanks!

[2017-08-15 12:20] phuonghuynh commented on #36
So we could implement a Manager to handle this case, as well as for #37

[2017-08-15 12:34] ronaldtse commented on #36
Are we starting a number of threads to check against jobs right now? We just need a single, centralized entity that does the queue message fetch and queue message delete.

[2017-08-15 14:30] phuonghuynh commented on #36
One Job has One SQS Trigger and this trigger is running as a thread. We need a manager running as a single, centralized entity that does the queue message fetch and queue message delete as you said.

[2017-08-16 07:13] ronaldtse commented on #36
Thanks @phuonghuynh , look forward to it! 👍

[2017-08-17 03:16] phuonghuynh commented on #35
@ronaldtse we should show message body for failure case?

[2017-08-18 04:51] ronaldtse commented on #35
As long as we have shown the full SNS message once, it is good enough -- we don't need to show the same message for every single job, right?

[2017-08-18 14:56] ronaldtse opened #38 "Some UX issues with the new selection box"
![screen shot 2017-08-18 at 10 51 34 pm](https://user-images.githubusercontent.com/11865/29464386-54e49ad8-8468-11e7-8f7e-f0fb8892a84d.png)

Enabling SQS monitor should by default select "Defined in SCM / Pipeline script".

Currently it defaults to "Manually enter it" but should default select "Defined in SCM".

[2017-08-18 14:58] ronaldtse commented on #38
![box-double-lines](https://user-images.githubusercontent.com/11865/29464492-9f80c2e2-8468-11e7-9680-6b95c563ec74.png)

In the red rectangle, there should only be 1 line instead of 2 for clarity.

We should also allow monitoring more than one SQS queue. Maybe we should move the "SQS queue to monitor" in the "Add" section so each repo could monitor a separate queue?

[2017-08-18 15:01] ronaldtse commented on #38
A bit more UI adjustment.

![screen shot 2017-08-18 at 10 59 13 pm](https://user-images.githubusercontent.com/11865/29464676-1e9b309e-8469-11e7-8e7d-21c6429c07fa.png)

[2017-08-18 15:04] ronaldtse commented on #38
Also, when "Defined in SCM / Pipeline script" is enabled, the two "?" buttons on the right do not show anything. If "Manually enter it" is selected, it does show the help message.

Text changes:
* "Defined in SCM / Pipeline script" to "Auto-detect CodeCommit URL and branches from SCM / Pipeline script"
* "or Manually enter it" to "Manually enter CodeCommit URL and branches".

[2017-08-19 05:41] phuonghuynh commented on #38
@ronaldtse

Which ENV you getting this? We are using default Jenkins Form Controls, so we need to figure out this issue.

[2017-08-19 05:42] phuonghuynh commented on #38
@ronaldtse

We should have only one section for this (dont repeat it)

[2017-08-19 05:43] phuonghuynh commented on #29
@ronaldtse could you confirm the pipeline feature working as your expects.

[2017-08-19 07:32] ronaldtse commented on #38
@phuonghuynh by default when I enable the plugin, the "Manually enter" is already selected it. I don't know what you mean by "ENV"?

I think there is an extra nested section above the "Add" one?

[2017-08-19 08:55] phuonghuynh commented on #38
Yes, we can

[2017-08-21 04:09] phuonghuynh commented on #38
@ronaldtse fixed some UX as bellow, could you give some feedbacks :)

<img width="1283" alt="screenshot at aug 21 11-08-21" src="https://user-images.githubusercontent.com/705510/29503358-38324520-8661-11e7-925b-d9fc122941d0.png">

[2017-08-21 05:02] ronaldtse commented on #38
@phuonghuynh ah I'm using Chrome and Safari on macOS.

The UX changes look good!

1. Does the bottom section (CodeCommit Repo URL + Subscribed branches) automatically appear when you enable the "Build when a CodeCommit..."? Or should it be only shown after clicking on "Manually enter CodeCommit URL and branches"?

2. If the "Manually enter CodeCommit URL and branches" button is clicked on, it will

[2017-08-21 05:30] phuonghuynh commented on #38
@ronaldtse I think 2) and 3) is the same user can untick the "Auto-Detect..." and do "Manually..." for both case.

<img width="1268" alt="screenshot at aug 21 12-27-44" src="https://user-images.githubusercontent.com/705510/29504754-275219aa-866c-11e7-82af-9343ddf10471.png">

<img width="1272" alt="screenshot at aug 21 12-28-48" src="https://user-images.githubusercontent.com/705510/29504769-4e604bc

[2017-08-21 05:35] ronaldtse commented on #38
Yeah I think we can repeat the "Manual Subscription" part.

1. Let's rename "Subscribed to" to "Subscribed to Auto-Detected CodeCommit Repos"
2. Let's use a smaller font (and italicized if possible) for the "Subscribed to" and "Manual Subscription" headers?

[2017-08-21 06:05] phuonghuynh commented on #38
For your reference
<img width="1108" alt="screenshot at aug 21 13-04-48" src="https://user-images.githubusercontent.com/705510/29505581-579d1dc6-8671-11e7-841e-da22c67fd529.png">

[2017-08-21 06:06] ronaldtse commented on #38
@phuonghuynh do you think the "Manual Subscription" header should be italicized too?

[2017-08-21 06:10] phuonghuynh commented on #38
yes, already

<img width="1113" alt="screenshot at aug 21 13-10-08" src="https://user-images.githubusercontent.com/705510/29505722-12cd9198-8672-11e7-99df-a06672e764dd.png">

[2017-08-21 07:10] phuonghuynh commented on #38
@ronaldtse for the pipeline job, if user select "Auto..." it will warning that the Trigger will read last Build SCM info, as bellow

<img width="1267" alt="screenshot at aug 21 14-09-32" src="https://user-images.githubusercontent.com/705510/29507481-7f406ece-867a-11e7-81ec-38ec6d0198ff.png">

[2017-08-21 07:21] phuonghuynh opened #39 "Allow the region selection in the user interface."
See https://github.com/jenkinsci/aws-codecommit-trigger-plugin/pull/25

[2017-08-21 13:30] phuonghuynh commented on #39
@ronaldtse is this UX ok for region selection?

<img width="1261" alt="screenshot at aug 21 20-29-55" src="https://user-images.githubusercontent.com/705510/29521398-99ae83ce-86af-11e7-90a1-5d0125e9e4d8.png">

[2017-08-21 23:43] ronaldtse commented on #39
@phuonghyunh yes this looks good! As long as we are fetching the regions list from AWS (they sometimes add regions) filtered for the regions that have both CodeCommit and SQS available. AWS has an endpoint for that information.

[2017-08-22 06:08] phuonghuynh commented on #39
@ronaldtse I think SQS only since we are listening on SQS queue

[2017-08-22 06:21] ronaldtse commented on #39
Funny thing is that CodeCommit can only send to SQS queue in the same region, so even if region supports SQS but not CodeCommit, it won't work.

[2017-08-22 07:19] phuonghuynh commented on #39
😖

[2017-08-22 08:37] ronaldtse commented on #39
😜

[2017-08-24 20:10] rodrigoavalente opened #40 "Can't list aws queues"
I'm having an issue using `aws-codecommit-trigger-plugin`. I'm following the instructions in the README to configure a queue, however when I open the `Configure System` menu in jenkins, jenkins presents me the following stack trace: [stack trace gist](https://gist.github.com/rodrigoavalente/16a88da330a7d9d390e868ad31bf9645), in the AWS Code Commit Trigger Plugin section.

Currently I have these pl

[2017-08-24 22:19] ronaldtse commented on #40
@rodrigoavalente thank you for the trace!

It looks like this is related to a Jackson version incompatibility: https://github.com/aws/aws-sdk-java/issues/1144

My own working Jenkins is running on these same versions except without `jackson-databind`.

[code]

According to this post https://github.com/aws/aws-sdk-java/issues/835, `jackson-databind` of version 2.6.6+ is required for the AWS SDK --

[2017-08-25 01:36] rodrigoavalente commented on #40
Thanks @ronaldtse for the fast reply!

I tried removing `jackson-databind`, but the error persists. However the stack trace has changed, I'll leave it [HERE](https://gist.github.com/rodrigoavalente/bfb8f126ddca3340db016a493a65d6b4) in case it helps clarify the problem.

[2017-08-25 01:40] ronaldtse commented on #29
@phuonghuynh I will test it today. Sorry for delay!

[2017-08-25 01:42] ronaldtse commented on #40
Seems that the AWS SDK can't find `jackson`. Could you try updating all the plugins (apologies if you already have) and/or restarting Jenkins?

@phuonghuynh any idea on why it fails this way?

[2017-08-25 01:44] ronaldtse commented on #40
@rodrigoavalente I also noticed that my instance has `aws-credentials`.

What is the Jenkins version you're running? Mine is on 2.60.2.

[2017-08-25 01:47] rodrigoavalente commented on #40
@ronaldtse I running jenkins 2.75, this is a fresh install, so all plugins are up to date. I saw that you had `aws-crenditials`, I tried installing it, but it didn't resolved the problema.

[2017-08-25 01:50] ronaldtse commented on #40
Interesting. Let's see if @phuonghuynh has any idea!

[2017-08-25 07:49] phuonghuynh commented on #40
The error is about missing `aws-java-sdk-core-1.11.169.jar` , could you help to check it existed in the plugin lib path, ex: "/var/jenkins_home/plugins/aws-codecommit-trigger/WEB-INF/lib"

[2017-08-25 10:51] rodrigoavalente commented on #40
Sure @phuonghuynh, I checked that the file exists in the  lib path, here is the content of the directory in case it helps:

[code]

[2017-08-25 14:43] phuonghuynh commented on #40
I got same issue with you when trying with v2.75 , jackson-databind version issue, i will add specific databind version in next release

[2017-08-25 16:05] phuonghuynh commented on #40
@rodrigoavalente you can use Jenkins v2.6x for now, look like the issue happen for v2.7x series :(

[2017-08-25 17:09] rodrigoavalente commented on #40
Thanks @phuonghuynh and @ronaldtse for your time. I'll do a downgrade to a v2.6x version then, that won't be a problem at all in the moment.

[2017-08-25 23:54] ronaldtse commented on #40
@rodrigoavalente thanks for reporting the issue!

@phuonghuynh thank you for confirming! Not sure if it's an issue we fix because it's an AWS SDK problem...?

[2017-08-28 15:59] phuonghuynh commented on #32
Move to issue #38

[2017-08-28 15:59] #32 closed

[2017-08-29 07:43] phuonghuynh commented on #40
@rodrigoavalente this snapshot version has been tested with Jenkins v2.75, could you give it a try? Let me know if you found any issue

[aws-codecommit-trigger.hpi.zip](https://github.com/riboseinc/aws-codecommit-trigger-plugin/files/1259502/aws-codecommit-trigger.hpi.zip)

/cc @ronaldtse

[2017-08-29 13:18] rodrigoavalente commented on #40
Sure @phuonghuynh , I forgot to mention that I was having the same issue with version 2.6x running on Amazon Linux, so I thought that was an issue with my setup and was trying to fix it. However this snapshot version is working with my currently envoriment.

[2017-08-29 13:24] phuonghuynh commented on #40
:heart:

[2017-08-29 13:29] rodrigoavalente commented on #40
Sorry, I found a new issue when I test the connection, It is related to the queue class, you can see it [HERE](https://gist.github.com/rodrigoavalente/e2c3b29d7709103d431666e8b84f4cf6).

[2017-08-29 15:04] phuonghuynh commented on #40
You catch it before my fix sent out :)
@rodrigoavalente, here is the fix version, [aws-codecommit-trigger.hpi.zip](https://github.com/riboseinc/aws-codecommit-trigger-plugin/files/1260711/aws-codecommit-trigger.hpi.zip)

[2017-08-29 17:34] rodrigoavalente commented on #40
Great, I'll try it right now.

[2017-08-31 05:43] phuonghuynh opened #41 "Update README"
as well as WIKI page

[2017-08-31 16:00] phuonghuynh commented on #40
@rodrigoavalente v1.15 is live now, you are able install it from Jenkins Repo
Looking forward new issues from u :grin:

[2017-09-05 00:21] ronaldtse commented on #39
@phuonghuynh is this fixed?

[2017-09-05 03:32] phuonghuynh commented on #39
Yes, fixed in v1.15

[2017-09-07 05:12] phuonghuynh commented on #27
New UI adding, we define new AWS Credentials to reuse for other SQS configures
<img width="1228" alt="screenshot at sep 07 12-09-59" src="https://user-images.githubusercontent.com/705510/30146996-c2d548b4-93c5-11e7-8c98-9ca0d6ab23b8.png">

So we can select it in SQS Configure form
<img width="1295" alt="screenshot at sep 07 12-07-29" src="https://user-images.githubusercontent.com/705510/30147003-c

[2017-09-07 05:14] phuonghuynh commented on #40
@rodrigoavalente you think this issue passed?

[2017-09-07 05:20] ronaldtse commented on #27
👏👏👏

[2017-09-08 07:31] ronaldtse commented on #40
@rodrigoavalente just wondering if it's working for you so we can close this. Thanks!

[2017-09-08 09:36] epmccormick opened #42 "AWS Code Commit Trigger SQS Plugin section does not appear in Configure System"
After installing the aws-codecommit-trigger-plugin there is no configuration options that appear under Configure System, where I would expect to enter the Queue anme, Access key ID and Secret Key information.

My environment:

AWS EC2 t2.micro instance built from us-west-2 ami-6e1a0117 ubuntu
Linux jenkins 4.4.0-1022-aws #31-Ubuntu SMP Tue Jun 27 11:27:55 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
Fr

[2017-09-08 10:18] epmccormick commented on #42
I continued to troubleshoot and I found a path that allowed me to see and successfully configure the plug-in. I reinstalled Jenkins and this time I did the installation of the plug-ins recommended by the community (the option on the left). And I also created a user as opposed to just using the Admin account. I have many more plug-ins that I anticipated installing, but at least I can use your plug-

[2017-09-08 11:22] rodrigoavalente commented on #40
Sorry for the delayed response. I neglected my email in the last days because there are internal problems at my work. I'll test the official version in jenkins repo and give a return in a couple of minutes. Thanks for your support and patience.

[2017-09-08 11:33] rodrigoavalente commented on #40
I tested and see that the issue does not exists anymore. However I can't get the trigger to work, maybe is something in my side. The test trigger in the code commit repo should trigger the build in jenkins? I'm testing through this.

[2017-09-08 11:57] ronaldtse commented on #40
@rodrigoavalente are you using the CodeCommit test trigger at AWS or is it actually a triggered event from a CodeCommit repo that contains an update?

[2017-09-08 11:58] rodrigoavalente commented on #40
@ronaldtse I'm using the test trigger on aws.

[2017-09-08 12:35] ronaldtse commented on #40
@rodrigoavalente could you try with a real repo? The test event, if I remember correctly, does not provide full information of a git commit and therefore may not trigger actual behavior. The updated "branch" must match the Jenkins job SQS subscription criteria.

[2017-09-08 12:44] rodrigoavalente commented on #40
@ronaldtse I tried with a real commit right now. The SQS Activity view on the jog item is empty, and the build was not triggered, I tried polling from the SQS management area on AWS and confirmed that the message still there, so I tried another commit to see if the polling on AWS may have deleted the message before jenkins had the oportunity to see it, but  it seems that jenkins ins't consuming th

[2017-09-08 13:20] ronaldtse commented on #40
That's strange. Will take a look tomorrow morning. @phuonghyunh any idea?

[2017-09-08 13:35] phuonghuynh commented on #40
@rodrigoavalente could i have some screenshots about the plugin configure? you can clear your credentials, i need some info about
 - Github SCM configure on the Job Configure page
 - Trigger Configure on the Job Configure page
 - SQS Configure on the Jenkins Configure page

[2017-09-08 13:54] rodrigoavalente commented on #40
Sure, I'll add they here:

* [SQS Configure on the Jenkins Configure page](https://imgur.com/K5HyFmH)
* [Github SCM configure on the Job Configure page](https://i.imgur.com/tAPZP8Y.png)
* [Trigger Configure on the Job Configure page](https://i.imgur.com/dR8SKTs.png)

[2017-09-08 17:12] phuonghuynh commented on #40
@rodrigoavalente Could I have your sample SQS message body? I would like to check branch name sent to the trigger.

[2017-09-08 17:21] phuonghuynh commented on #40
@rodrigoavalente Since the Plugin using Git Plugin API, it recommends "Branch Name" something like "refs/heads/branchName", https://github.com/jenkinsci/git-plugin/blob/master/src/main/resources/hudson/plugins/git/BranchSpec/help-name.html#L20

You can find Test Suite for "Branch Name" as a reference [here](https://github.com/phuonghuynh/aws-codecommit-trigger-plugin/blob/pipeline/hpi/src/test/jav

[2017-09-08 17:49] rodrigoavalente commented on #40
I see. I didn't know about that, I tried changing the branch name to `refs/head/working`, but it isn't working either, the requested message body is [here](https://gist.github.com/rodrigoavalente/6e96bafc539b768c10dc099d63d119f4).

[2017-09-08 18:10] phuonghuynh commented on #40
@rodrigoavalente  you can try your Github Branch Name value "working" (no "*/")

"*/working" should match branches like "refs/heads/foo/working", or "refs/heads/foo-bar/working" since Github BranchSpec matching function, https://github.com/jenkinsci/git-plugin/blob/e3b32afe0697ec2825fb86b82417f311874cecc5/src/main/java/hudson/plugins/git/BranchSpec.java#L179

<img width="938" alt="screenshot at se

[2017-09-08 18:19] rodrigoavalente commented on #40
Thanks, the build triggered, as expected it was some misconfiguration at my side. Thanks for your time and patience, I think this concluded the issue.

[2017-09-08 18:48] ronaldtse commented on #40
Glad that after 15 days we got this working 😉

Thank you @phuonghuynh and @rodrigoavalente for going through this!

[2017-09-08 19:05] ronaldtse commented on #42
@epmccormick thanks for reporting this. I don't think the "Admin account" made the difference but the plugin dependencies probably did?

@phuonghuynh could you have a look and see how we can make the process smoother for a non-interactive installation? Thanks!

[2017-09-08 19:36] epmccormick commented on #42
@ronaldtse you're very welcome. And thank you and the team for such a great plug-in. It is very much appreciated.

[2017-09-09 03:48] phuonghuynh commented on #42
Thanks @epmccormick

[2017-09-09 04:51] phuonghuynh commented on #40
😁

[2017-09-12 04:46] ronaldtse commented on #27
@phuonghuynh is this feature released? I can't seem to see it in the latest release.

[2017-09-12 05:14] phuonghuynh commented on #27
Its implementing. We need to change the model to support this feature, so we might increase the major version and implement a supported migration function for this.

[2017-09-12 05:16] phuonghuynh commented on #27
Adding new Migration button
<img width="1353" alt="screenshot at sep 12 12-16-26" src="https://user-images.githubusercontent.com/705510/30309191-3b187138-97b4-11e7-8b24-cb4916a2ec9f.png">

[2017-09-12 05:17] ronaldtse commented on #27
Awesome thanks 👍

[2017-09-16 17:29] phuonghuynh commented on #27
this is done in v2.0 released

[2017-09-24 03:40] phuonghuynh commented on #42
@epmccormick v2.0.1 released, could you verify if this version fixed your issue?

[2017-09-24 20:44] epmccormick commented on #42
@phuonghuynh I tried v2.0.1 against Jenkins 2.76 and it worked great. I entered my AWS creds and was able to see my Queue. I did the same set-up where I didn't add any plug-ins at start (Hitting X in the upper right on that screen) and then went straight to Manage Jenkins/Plugins and added your plug-in, then Configure System to add my creds and queue.

Thank you!

[2017-09-24 20:44] #42 closed

[2017-09-25 03:08] phuonghuynh commented on #42
👍

[2017-09-28 02:51] ronaldtse commented on #27
@phuonghuynh should we close this?

[2017-09-28 14:16] phuonghuynh commented on #27
Yes, this can be closed

[2017-09-28 14:16] #27 closed

[2017-09-28 14:21] #39 closed

[2017-09-28 14:22] phuonghuynh commented on #38
This issue should be closed, we could post new issues if any UI need to be updated,

[2017-09-28 14:22] #38 closed

[2017-09-28 22:25] ronaldtse commented on #37
This has been fixed.

[2017-09-28 22:25] #37 closed

[2017-09-28 22:25] ronaldtse commented on #36
This is fixed.

[2017-09-28 22:25] #36 closed

[2017-10-02 08:30] ronaldtse commented on #41
@phuonghuynh could we also handle this? Thanks!

[2017-10-02 16:47] phuonghuynh opened #43 "SQS Activity log should contains all activities in the plugin"
The original one only log activities when Job is triggered, could we fix this? @ronaldtse

[2017-10-03 12:55] phuonghuynh opened #44 "Test SQS Queue access"
@ronaldtse Atm the validation of the SQS connection only do one simple task *(original version)*: read queue url from queue selected. It doesnt make sense if the credential has permission to read queue lists but has no access right to read & delete queue items which is required by the plugin, check the SQS permission list http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sq

[2017-10-03 15:56] ronaldtse commented on #44
I agree, however it is a bit complex to allow the right to "read" and "delete" from the queue because it requires the user to first populate one message to the queue.

On the other hand we can allow the account to "publish" to the queue and then test "read" and "delete", but then the "publish" permission is excessive.

I suppose we could add one more button to "Test CodeCommit Trigger SQS Read and

[2017-10-05 15:32] phuonghuynh opened #45 "Update to AWS SDK 2"
Link [here](https://aws.amazon.com/blogs/developer/aws-sdk-for-java-2-0-developer-preview/)

[2017-10-05 23:03] ronaldtse commented on #45
Agree!

[2017-10-07 04:25] phuonghuynh commented on #45
@ronaldtse from https://github.com/aws/aws-sdk-java-v2

The current code support Jenkins v1.6+ which is running under JDK7. So we need to upgrade Jenkins baseline version to use JDK8

[2017-10-07 04:43] ronaldtse commented on #45
What's the Jenkins version that requires JDK8?

[2017-10-07 07:22] phuonghuynh commented on #45
From https://jenkins.io/blog/2017/04/10/jenkins-has-upgraded-to-java-8/

[2017-10-07 07:28] ronaldtse commented on #45
Maybe our newer versions should only support newer Jenkins? Given it's already been half a year I think it's fair to upgrade to JDK8.

[2017-10-07 07:35] phuonghuynh commented on #45
Yes, i agree

[2017-10-07 07:37] ronaldtse commented on #45
Let's proceed then 👍

[2017-10-07 07:38] phuonghuynh commented on #44
@ronaldtse A simple way is that we can "try" to do some actions we need:

  - Get Queue Urls
  - Get Messages
  - Delete Messages

Depend on the error code response, we are able to determine which Permission IAM user granted, i.e. 404 means that IAM user has access to the resource but the resource not existed; 403 means that the user is forbidden.

[2017-10-07 08:08] ronaldtse commented on #44
@phuonghuynh agree. Let's make the "Access Test" more complete with trying multiple permissions via multiple actions. 👍

[2017-10-16 15:43] phuonghuynh commented on #44
@ronaldtse the Plugin only need 2 permissions, Read and delete item in Queue. But in the Queue config page, user must have "list queue" permission also. We dont need this permission when running trigger for job.
I think we let user select queue from the list or enter queue url if he doesnt have "list queue" permission. How do you think?

[2017-10-16 15:45] ronaldtse commented on #44
@phuonghuynh I fully agree. But we should detect whether "list queue" permission is provided so as to switch between "list" and "manual entry" functionality, right?

[2017-12-08 17:38] oshyn-inc opened #46 "CodeCommit username in BuildCause shortDescription"
It would be great if the username that triggered the notification in code commit was part of the BuildCause shortDescription.  Right now, it contains the SQS message GUID which isn't useful for anyone no the Jenkins side.

This should be doable as the arn:Username is included in the message body of the SQS notification.

Otherwise, great plugin.  It is working seamlessly.

[2017-12-08 17:43] ronaldtse commented on #46
Thank you @oshyn-inc for the suggestion! Indeed, you're right.

We really appreciate your comment -- we'll get this fixed soon enough! 👍

[2017-12-11 06:38] phuonghuynh commented on #46
Thanks for the great suggestion. Yes, this should be included in the next release. I will inform you when the release made.

[2017-12-12 05:04] phuonghuynh commented on #46
@oshyn-inc new release made, could you give it a try. https://updates.jenkins.io/download/plugins/aws-codecommit-trigger/2.0.4/aws-codecommit-trigger.hpi

[2017-12-21 02:37] chrislippohk opened #50 "Suddenly the plugin stop working"
Hi there,

This plugin used to work very well for me. thanks for that.

But somehow, it stops working. When I take a look at the log, it reported:
Any event matched? false. Message: 2f6a712a-6490-5245-bf60-239f7bc4b89f

I found that the message from SQS was delivered. But it cannot be matched in the configured jobs. This happened after I upgraded Jenkins to 2.95 or later.

Can you help?

rgds,
Chr

[2017-12-21 04:06] phuonghuynh commented on #50
@chrislippohk are you saying that Jenkins < 2.95 working for you, using same config ?

[2017-12-21 04:11] chrislippohk commented on #50
Yes. That’s right. I did not change any config. Originally, I suspected that the message was not delivered. But I found from Jenkins log that it was actually delivered but was not matched by the plugin with configured projects.

I have 3 projects with 3 repos configured that used to work. Commits to repo generates a SNS trigger that pushed a message to SQS. All triggers on AWS still works.

From:

[2017-12-21 04:24] phuonghuynh commented on #50
@chrislippohk Can i have your sqs message ?, something like https://github.com/riboseinc/aws-codecommit-trigger-plugin/blob/master/hpi/src/test/resources/com/ribose/jenkins/plugin/awscodecommittrigger/sqsmsg.json

Could you capture your Git config as well as the Plugin config ?  I would like to check the config, since the Plugin working but the matcher failed.

You can hide your sensitive info, li

[2017-12-21 05:22] chrislippohk commented on #50
I did a diff on my message with your reference messages. Other than message specific info, all headers on the JSON body are the same. Of course, region, account id, message id and eventTriggerName are different.

I sent the JSON manually to the queue (“masterChanged” as below), the log gave the same message 3 times as previous trials. It just said the same thing:

Any event matched? false. Message

[2017-12-21 09:35] phuonghuynh commented on #50
The event matched "repo/branch_name" that returned in sqs message

@chrislippohk i downloaded Jenkins v2.95 and install last version from Jenkins Plugin repo site. My simple test case is working, as you can see screenshots as bellow. So it would be great if i have some screenshots like i sent to you to check this issue.

[simple-test-running.zip](https://github.com/riboseinc/aws-codecommit-trigger

[2017-12-21 09:46] chrislippohk commented on #50
Thanks for the info. I noticed that main difference on the config is the */ in the branch which you do not have. I have those carried from previous versions.

I tested by removing the */ and now it is working. Thanks a lot.

From: phuong <notifications@github.com>
Reply-To: riboseinc/aws-codecommit-trigger-plugin <reply@reply.github.com>
Date: Thursday, 21 December 2017 at 5:35 PM
To: riboseinc/aw

[2017-12-21 13:53] phuonghuynh commented on #50
Np

[2017-12-21 13:53] #50 closed

[2018-04-03 21:00] luisamador opened #51 "check existing IAM role permissions rather than an AWS key ID and secret"
I have a Jenkins EC2 instance with an IAM role attached to it that has full SQS access. However the CodeCommit Trigger Plugin is forcing me to specify an AWS Key ID and Secret to authenticate against the AWS SQS that I set up. It would be nice if the plugin could somehow check the existing IAM role permissions rather than forcing me to use an AWS key ID and secret when the actual instance already

[2018-04-03 22:57] ronaldtse commented on #51
@luisamador thanks for the post! Just to clarify that in your case, the Jenkins EC2 master instance itself has the IAM role attached with full access to SQS. While for the Jenkins master we could detect if the instance has access to an SQS queue (it also depends on which SQS queues it may eventually use), but as you might be aware of, jobs (and this plugin) can also be performed on Jenkins slaves.

[2018-04-04 13:51] phuonghuynh commented on #51
@luisamador thanks for the good suggesstion, label "enhancement" added and this issue will be resolved soon.

[2018-05-02 22:14] gsrhodes opened #52 "Documentation incomplete: SQS access requires also sqs:GetQueueAttributes"
I configured my user with an IAM policy allowing only the following actions:

**sqs:ReceiveMessage**
**sqs:ListQueues** (for configure page)
**sqs:DeleteMessageBatch**

The "Test Access" function reported the following error:

"User not has permission sqs:ReceiveMessage"

Allow also the following actions to resolve the problem:

**sqs:GetQueueAttributes**

[2018-05-02 22:33] ronaldtse commented on #52
@gsrhodes thank you for letting us know -- sorry about that.

Indeed I think I've encountered this myself before. @phuonghuynh could you help confirm and update the documentation? Thanks!

[2018-05-02 22:37] gsrhodes commented on #52
Glad to help! As you know, Amazon's own AWS documentation often is incomplete with respect to IAM policy requirements. I found this solution only by experimentation!

[2018-05-02 22:38] ronaldtse commented on #52
We really appreciate it -- we all understand the effort needed to confirm something that AWS doesn't tell us (which unfortunately occurs quite often) 😉

[2018-05-03 03:50] phuonghuynh commented on #52
Thanks @gsrhodes 👍

[2018-06-07 10:32] ribose-jeffreylau opened #54 "Does not trigger build?"
Hi @phuonghuynh

After creating a new pipeline job, the plugin does not seem to be receiving any events from AWS codecommit (checked via Jenkins's "All Jenkins Log").

Jenkins version: 2.103

Any ideas why?  Thanks!

[2018-06-07 15:27] phuonghuynh commented on #54
Is the button "Test Access" return "SUCCESS" ?

https://raw.githubusercontent.com/riboseinc/aws-codecommit-trigger-plugin/master/doc/images/global-config.png

[2018-06-08 01:19] ribose-jeffreylau commented on #54
Hi @phuonghuynh , yes, clicking "Test Access" would make the green arrow with the text "Access to SQS successful" appear.

I should clarify that our Jenkins set up has quite a number of jobs, and only some of the jobs (perhaps they're the most recently created ones) don't seem to be receiving any events.

[2018-06-08 08:17] phuonghuynh commented on #54
Can i have some logs ? @ribose-jeffreylau

[2018-06-12 08:04] kwkwan commented on #54
@phuonghuynh

Here is the log

[code]

[2018-06-12 08:37] phuonghuynh commented on #54
Thanks @kwkwan

[2018-06-13 08:29] kwkwan commented on #54
@phuonghuynh we have discovered that the newer jobs also cannot be triggered even when they are traditional jobs. The event arrives in the SQS queue, the plugin checks the event for the correct job, but the plugin log still says:

[code]

[2018-06-13 08:42] phuonghuynh commented on #54
`Any event matched? false. Message: null` - "Message" should print out "Message-id" that extracted from "Message text" but it is "no text". `Message contains no text` is new to me. Its weird.

@kwkwan Could I have full body of message sent to the SQS? something like
[code]

[2018-06-13 09:29] phuonghuynh commented on #54
The message can be retrieve by Email subscription in SNS Topic. I am using it to get message text.

<img width="1123" alt="screenshot at jun 13 16-25-43" src="https://user-images.githubusercontent.com/705510/41342471-832f03f2-6f26-11e8-9e9b-e6081ad81f4a.png">

[2018-06-13 10:19] phuonghuynh commented on #41
Updated

[2018-06-13 10:19] #41 closed

[2018-06-14 02:35] kwkwan commented on #54
The email-json we got is
[code]

The log related in jenkins is
[code]

[2018-06-14 04:23] phuonghuynh commented on #54
Thanks @kwkwan
The message just like mine. So this is interesting issue ^
I will fix it soon

[2018-06-14 04:34] ronaldtse commented on #54
Seems that the plugin can't parse the text given? Thanks @phuonghuynh ! 👍

[2018-06-14 16:36] phuonghuynh commented on #54
@kwkwan i added some debug log to print out sqs message that the plugin retrieving. Could you give it a try?

[aws-codecommit-trigger.hpi.zip](https://github.com/riboseinc/aws-codecommit-trigger-plugin/files/2103180/aws-codecommit-trigger.hpi.zip)

The Jenkins Logging should be enabled to print out debug logs

<img width="1047" alt="screen shot 2018-06-14 at 11 33 51 pm" src="https://user-images.g

[2018-06-15 02:04] kwkwan commented on #54
I have installed the new plugin and enabled the log.  The log becomes:
[code]

[2018-06-15 07:27] phuonghuynh commented on #54
@kwkwan Thanks for the log. It showing that message-body somehow truncated in your case, i added a try-with-message-body function to parse message-body for the case. Could you give it a try?

[aws-codecommit-trigger.hpi.zip](https://github.com/riboseinc/aws-codecommit-trigger-plugin/files/2105161/aws-codecommit-trigger.hpi.zip)

If this build fixed your issue, i will make a new release for the Plu

[2018-06-15 09:06] kwkwan commented on #54
The log becomes
[code]

[2018-06-15 09:41] phuonghuynh commented on #54
The matcher failed at Path Matching, could you confirm that the `eventSourceARN` end withs "repo-name" ?
Something like
  - eventSourceARN: "arn:aws:codecommit:us-west-2:239062223385:testjenkins"
  - repo-url: "https://git-codecommit.us-west-2.amazonaws.com/v1/repos/testjenkins"
  - repo-name: "testjenkins"

[2018-06-15 18:59] ronaldtse commented on #54
Wow, I don't know what happened, but it's working now?

[code]

[2018-06-16 06:41] phuonghuynh commented on #54
Interesting ^
So, i will make new release now

[2018-06-19 01:50] kwkwan commented on #54
@phuonghuynh When will the jenkins registry be updated?  Please let me know.  Thanks.

[2018-06-19 03:06] phuonghuynh commented on #54
@kwkwan v2.0.5 has been released https://updates.jenkins.io/current/update-center.actual.json

[2018-06-19 03:09] kwkwan commented on #54
@phuonghuynh Thanks!

[2018-06-19 03:09] #54 closed

[2018-08-14 14:31] Kamidu opened #57 "After configuring the aws-codecommit-trigger-plugin, build dose not triggered with the new commits."
### Please find my configurations below,
Queue configuration :
![image](https://user-images.githubusercontent.com/13974966/44098018-baa1df52-9fe7-11e8-9e1e-da42a93173a8.png)

Build Trigger Configuration :

![image](https://user-images.githubusercontent.com/13974966/44098080-eb492854-9fe7-11e8-8416-e8a2370299df.png)

Jenkins Logs :

Aug 14, 2018 5:26:54 PM [c.r.j.p.a.t.SQSQueueMonitorImpl][thread-0

[2018-08-14 14:38] Kamidu commented on #57
The issue from the line [1]. But the commit message cannot be null from the message.

[1] https://github.com/riboseinc/aws-codecommit-trigger-plugin/blob/468b8e037b59ee3176ceba31abd439b82a5f9a25/hpi/src/main/java/com/ribose/jenkins/plugin/awscodecommittrigger/model/CodeCommitMessageParser.java#L70

[2018-08-14 14:56] phuonghuynh commented on #57
@Kamidu can you post your sample json message ? You can can config your email to get it, likewise https://github.com/riboseinc/aws-codecommit-trigger-plugin/issues/54#issuecomment-396875092

[2018-08-14 15:33] Kamidu commented on #57
@phuonghuynh  Please find the json message received :

{
  "Type" : "Notification",
  "MessageId" : "f04f60b6-2297-536f-b6bc-335ada8f3cf6",
  "TopicArn" : "arn:aws:sns:eu-west-2:383325518584:codecommit_tkl",
  "Subject" : "UPDATE: AWS CodeCommit eu-west-2 push: testframework",
  "Message" : "{\"Records\":[{\"awsRegion\":\"eu-west-2\",\"codecommit\":{\"references\":[{\"commit\":\"d62ab86d2bef6553a3

[2018-08-14 15:57] Kamidu commented on #57
I got the issue sorted by adding an additional trigger on the repository other than the commit notifications.
Please note that your rapid response on this is highly appreciated.

[2018-08-14 16:36] phuonghuynh commented on #57
@Kamidu so does it mean the plugin working without that additional trigger?

[2018-08-14 17:12] Kamidu commented on #57
@phuonghuynh That seems to be the case. IMO i think notifications was not delivered as the triggers dose. I am looking into it at the moment. Will Update here if found something.

[2018-08-15 04:10] phuonghuynh commented on #57
@ronaldtse do you have any idea for this case?

[2018-08-15 04:16] ronaldtse commented on #57
As @Kamidu explained:

I believe a "test trigger" message from CodeCommit (you can ask it to "test trigger") is an empty one. @phuonghuynh can you double check?

[2018-08-16 06:44] phuonghuynh commented on #57
@Kamidu i tried to add an additional trigger to my test repo, and its working.

![screenshot at aug 16 13-41-06](https://user-images.githubusercontent.com/705510/44192620-5fbab400-a15a-11e8-8932-4188c60be6d8.png)

![screenshot at aug 16 13-41-59](https://user-images.githubusercontent.com/705510/44192630-6812ef00-a15a-11e8-83bd-0b742be8aa24.png)

Could I have your trigger configure causing the issu

[2018-08-16 11:56] Kamidu commented on #57
@phuonghuynh My idea why to get the notification configured in the notification tab. It didn't work. As soon as I add a trigger plugin works like a charm.
I think we can close this issue if notification is not what we support. Thanks a bunch.

[2018-08-16 13:59] ronaldtse commented on #57
@Kamidu thanks for the confirmation. A "trigger" is necessary for Codecommit to actually notify SNS, as it is described in the screenshot given by @phuonghuynh ("You can configure your repository so that code pushes or other events trigger actions in Amazon SNS or AWS Lambda.").

So this is considered correct behavior and therefore closed. Thanks for reporting!

[2018-08-16 13:59] #57 closed

[2018-08-30 12:13] thedrow commented on #29
Should this be closed?
Is everything working properly?

[2018-08-31 03:00] phuonghuynh commented on #29
Yes, if anyone could confirm this issue working properly. @thedrow could you help ?

[2018-08-31 03:01] phuonghuynh commented on #52
Merged

[2018-08-31 03:01] #52 closed

[2018-09-04 11:39] Kamidu opened #58 "When configured a pipeline with the pug-in always provides "Cancel the build since no change found""
I have created a pipeline in Jenkins which is listing to a queue. Other than the initial commit all the other commit triggers are ignored with the log "INFO: Cancel the build since no change found".

Please find the SQS Activity Log below,

Sep 04, 2018 12:16:34 PM [c.r.j.p.a.SQSTriggerBuilder][thread-0000BA]
INFO: Try to trigger the build for message: d35280d6-ee9f-5faf-8548-d4dea12d490e
no previ

[2018-09-06 14:19] phuonghuynh commented on #58
@Kamidu the pipeline require at least manual trigger one time to parse the job. This is limitation of Jenkins Pipeline API. https://github.com/riboseinc/aws-codecommit-trigger-plugin/issues/29#issuecomment-318268594

[2018-09-27 20:06] jarkt opened #59 "User not has permission sqs:DeleteMessageBatch"
Obviously your IAM user also needs the not mentioned sqs:DeleteMessage permission to get it work. Otherwise you will get the wrong error message "User not has permission sqs:DeleteMessageBatch" on test.
This is just a hint.

[2018-09-27 22:36] ronaldtse commented on #59
@jarkt thanks for the report.

This line in the README does mention the need of permission to delete messages, but it is true that it should be more clear on what permissions are required.

@phuonghyunh could you help update the README? Thanks!

[2018-10-03 02:28] jseiser commented on #29
Having a hard time sorting this. Are pipelines currently supported, and if so, any documentation on getting this into a Jenkins file

[2018-10-03 03:00] phuonghuynh commented on #29
@jseiser yep, pipeline is supported. What is your issue ?

As you might know, Jenkins Workflow API requires to do manual make the first build (status is succeed of failed is OK, succeed is preferred) ; then the Plugin will work as expected

Sorry i not test this. I will update document for this and let you know soon.

[2018-10-03 03:34] jseiser commented on #29
I have created a multi-branch pipeline, with code commit configured as the repo.

I also used your terraform module to deploy the repo and sqs queue. I then configured the plug-in to have credentials for sqs.

I wasn't sure if I needed to add something to my Jenkins file for the plugin., Or if I just needed to run the pipeline once and then the option would show in the GUI.

[2018-10-03 03:36] ronaldtse commented on #29
@jseiser Ah, the caveat is, the plugin doesn't yet work with multi-branch pipeline. In fact, we are not quite sure how it should work with a multi-branch pipeline because it is so different from the normal pipeline.

Multi-branch pipeline gives you a lot of functionality, but it always takes away *a lot* of flexibility from plugins...

[2018-10-03 04:49] Kamidu commented on #58
@phuonghuynh Thanks for your input on this. I got this working. We can close this issue as well.
On another note, I have noticed time to time the automated builds doesn't trigger as expected. That can be recovered executing a build manually. Then the automation will resume for days as expected. There were one or two times during the last months where we had to trigger a manual job to resume the au

[2018-10-03 12:07] jseiser commented on #29
@ronaldtse  @phuonghuynh  I went ahead and swapped from a multi-branch pipeline, to a pipeline.  I have configured everything as stated above, using terraform to deploy the repo and queue.

I am getting the email when I push to code commit, but my job is not firing.  I have ran the job manually multiple times.

Jenkins Log:

[code]

SQS Activity on the plugin has no logs.

I have tried allowing th

[2018-10-04 15:26] jseiser opened #60 "Builds Not Triggering"
I have installed the plugin, and deployed my queues and repo's using the provided terraform modules.

aws-codecommit-trigger	2.0.5

[code]

This is from a test Message.

[code]

This is from a git push

[code]

[2018-10-04 15:37] phuonghuynh commented on #60
@jseiser your SQS message has new field "customData" so, the plugin parser failed to parse that json message.

[2018-10-04 15:41] jseiser commented on #60
The repo, triggers, SNS and sqs were all deployed with the terraform module linked in your readme.

Is there some way to control the fields?

[2018-10-04 16:12] phuonghuynh commented on #60
In the codecommit setting page, there is a Rule to control fields sending to the topic, like this

<img width="1022" alt="screenshot at oct 04 23-09-45" src="https://user-images.githubusercontent.com/705510/46487642-b96e5f00-c82a-11e8-9f66-68fc9c36748d.png">

But I would like to let the plugin auto ignore unusable fields in the JSON in next release.

[2018-10-04 16:45] jseiser commented on #60
![codecommit](https://user-images.githubusercontent.com/4855527/46489429-5dc4b700-c7d3-11e8-84cc-eb64f65bb7c9.png)
![eventrule](https://user-images.githubusercontent.com/4855527/46489432-5f8e7a80-c7d3-11e8-8ae6-dba4d8f93421.png)

Not sure what you are saying to edit.

[2018-10-04 17:20] phuonghuynh commented on #60
@jseiser Sorry i was saying wrong configuration. There is a "customData" field in your Repo Trigger section, you could clear it to see if the plugin work.

<img width="1074" alt="screenshot at oct 05 00-20-05" src="https://user-images.githubusercontent.com/705510/46491272-75805780-c834-11e8-8a37-a5f97f57476a.png">

[2018-10-04 17:34] jseiser commented on #60
@phuonghuynh

That field is already empty.  There is nothing in it.

[2018-10-05 03:44] phuonghuynh commented on #60
So interesting issue, i not sure how JSON message include empty "customData". However, next release  would support this field. I will inform you when its online. @jseiser

[2018-10-05 09:20] phuonghuynh commented on #60
@jseiser i attached new build. Could you give it a try to see if it could fix your issue? then i can publish it to Jenkins Repo.

[aws-codecommit-trigger.hpi.zip](https://github.com/riboseinc/aws-codecommit-trigger-plugin/files/2449714/aws-codecommit-trigger.hpi.zip)

[2018-10-05 14:07] jseiser commented on #60
I probably can not test until late Sunday evening. I am running Jenkins from a docker container, so I'll have to figure out how to install the hpi.zip as well, I have only ever preloaded plugins via the docker file.

[2018-10-05 15:13] phuonghuynh commented on #60
You can extract the zip to get .hpi file to use to install in Jenkins

[2018-10-08 12:42] jseiser commented on #60
@phuonghuynh

I installed the updated plugin.  The updated plugin correctly detected the git commit and triggered the job.

[2018-10-11 07:53] phuonghuynh commented on #60
New version deployed, https://repo.jenkins-ci.org/releases/org/jenkins-ci/plugins/aws-codecommit-trigger/2.0.6/

[2018-10-11 07:56] ronaldtse commented on #60
Thanks @phuonghuynh !

[2018-11-19 10:06] vaibhavmalushte commented on #60
Hi,

I'm using 2.0.6 V and followed all the required steps, still my pipeline is not triggered. Please advise.

Thank you,
Vaibhav

[2018-11-19 11:03] vaibhavmalushte commented on #60
I've found the issue, there was a trailing / in codecommit repo url. However now I am getting below messages in logs
**Any code changes found in SCM? false**

[2018-11-19 12:42] vaibhavmalushte commented on #60
Resolved :)
My bad, not checking out the code.
Thank you very much for such awesome plugin 👍

[2018-11-20 02:33] ronaldtse commented on #60
Thank you @vaibhavmalushte for confirming it works!

[2018-11-20 02:33] #60 closed

[2018-11-28 16:31] marinkovicpetar opened #64 "Test access doesn't work"
Test access is throwing 504 Gateway timeout error

Versions:

- Jenkins ver. 2.153 (one EC2 instance behind ALB, doing SSL offloading, no IAM roles attached)
- AWS CodeCommit Trigger Plugin ver. 2.0.1 (latest)

Steps to reproduce:
- Created IAM policy
[code]
- Attached this policy to user and created keys
- Created SNS topic and SQS queue, and verified SQS subscription (I have SNS messages in queu

[2018-12-30 02:26] ronaldtse opened #65 "Automated builds occasionally do not trigger?"
From: @Kamidu
https://github.com/riboseinc/aws-codecommit-trigger-plugin/issues/58#issuecomment-426510685

[2018-12-30 04:01] phuonghuynh commented on #59
Thanks @jarkt for the the report
@ronaldtse updated in #61  ^

[2018-12-30 04:08] ronaldtse commented on #59
Let's close this then. Thanks @jarkt @phuonghuynh !

[2018-12-30 04:08] #59 closed

[2019-01-02 17:47] phuonghuynh commented on #64
@marinkovicpetar this is happening on Jenkins EC2 only? Did you try with a local jenkins ?

[2019-01-02 18:15] marinkovicpetar commented on #64
@phuonghuynh I've tried it only on an EC2 where I deployed Jenkins, in the same region where my CodeCommit repos are. But, since I couldn't make it work, I've ditched Jenkins and turned to AWS CodeBuild. Maybe take a look what's wrong for someone else that might use Jenkins hosted in EC2 with CodeCommit and this plugin

[2019-01-03 00:42] ronaldtse commented on #64
Thanks @marinkovicpetar , we have a Terraform module for creating a full deployment of Jenkins on EC 2 (https://github.com/riboseinc/terraform-aws-jenkins) and it does work for us.

A 504 displayed there indicates Jenkins cannot access the "Test access" URL. Perhaps #51 will help.

We'll leave this open until we can verify this.

[2019-01-16 15:49] deeco commented on #29
I have the same issue, Did you resolve yours ? I get email and codecommit is updated , sqs never triggers a build though

[2019-01-17 03:27] phuonghuynh opened #66 "Update README to add some potential issues that users might get with the Plugin"
i.e. Build not trigger, not get SQS notification...

[2019-01-17 12:12] deeco commented on #29
Looking into further , appears it sees the sqs , but does not recognize any changes.

FYI , I have to manually enter the code commit repo as does not auto detect

Jan 17, 2019 12:10:07 PM [c.r.j.p.a.SQSTriggerBuilder][thread-00004A]
INFO: Cancel the build since no change found

[2019-01-24 15:13] jseiser commented on #65
Im seeing this more and more.  I have enabled debug logs, and hopefully can catch something.

[2019-01-24 17:59] ronaldtse commented on #65
That’s strange. Any ideas @phuonghyunh ?

[2019-01-30 17:55] deeco commented on #29
@phuonghuynh any ideas where I should look further ? is there a log stored locally on the jenkins boxes ?

[2019-01-30 17:59] deeco commented on #29
believe I have same issue as mentioned here, investigating further https://github.com/riboseinc/aws-codecommit-trigger-plugin/issues/58

[2019-01-30 18:34] deeco commented on #29
git updates trigger notifications and sqs,
I receive the email and get log straight away under SQS Activity within Jenkins Instance below.

Manually built jobs successfully but still cannot get commits and push's to trigger the build. What can I be missing ?

Jan 30, 2019 6:30:48 PM [c.r.j.p.a.SQSTriggerBuilder][thread-000057]
INFO: Cancel the build since no change found

[2019-01-30 18:37] deeco commented on #58
@Kamidu What did you find missing ?

[2019-02-06 15:10] jseiser opened #67 "java.lang.NoClassDefFoundError:"
Jenkins ver. 2.150.2

Started getting the below errors in my logs.

[code]

[2019-02-06 15:28] jseiser commented on #67
This has been working fine.  Upgraded Jenkins and Plugins, and now SQS is erroring out.  In the GUI, the creds and region and SQS queue were blank.  I was able to re-select my creds and region, but the SQS queue section is blank.  It also then errors out inside the UI with the same error i posted above.

[2019-02-06 15:48] jseiser commented on #67
Pulled the latest docker container, and upon it starting up, seeing this.

[code]

Unreadable Data
It is acceptable to leave unreadable data in these files, as Jenkins will safely ignore it. To avoid the log messages at Jenkins startup you can permanently delete the unreadable data by resaving these files using the button below.

[2019-02-06 16:56] ronaldtse commented on #67
Thanks @jseiser! @phuonghuynh do you have time to check this? Thanks!

[2019-02-06 17:10] jseiser commented on #67
@ronaldtse @phuonghuynh

Please let me know any information etc you need, since this has kind ground our Jenkins Instance to a halt.

[2019-02-06 18:29] phuonghuynh commented on #67
@jseiser could I have your sample docker related this issue?

[2019-02-06 18:56] jseiser commented on #67
@phuonghuynh

Im not quite sure what information you are requesting.

[2019-02-06 19:26] jseiser commented on #67
I have attached my Dockerfile, my plugins.txt and an image from the UI.

![jenkins](https://user-images.githubusercontent.com/4855527/52367446-1e74d400-2a1a-11e9-85df-958c6ecd87be.png)

[Dockerfile.txt](https://github.com/riboseinc/aws-codecommit-trigger-plugin/files/2837905/Dockerfile.txt)
[plugins.txt](https://github.com/riboseinc/aws-codecommit-trigger-plugin/files/2837906/plugins.txt)

[2019-02-06 20:17] jseiser commented on #67
Strangely.. reverted the git plugin from 4.0 rc, to 3.9.1  and it shows up again

![noidea](https://user-images.githubusercontent.com/4855527/52370960-45cf9f00-2a22-11e9-8396-c038befb0947.png)

[2019-02-06 21:03] jseiser commented on #67
Since 3.9.1 doesnt actually work to clone anything, we had to move back to the git plugin 4.0, which in turn breaks SQS notifications.

[2019-02-07 04:59] phuonghuynh commented on #67
Thanks for the investigation. I looking at this issue.

[2019-02-07 15:03] jseiser commented on #67
Upgraded to Jenkins ver. 2.163, which is the Jenkins/Jenkins:latest release.  Same errors present.

[2019-03-06 08:43] ronaldtse opened #68 "com.fasterxml.jackson.core:jackson-databind version vulnerability"
@phuonghuynh the current version of `com.fasterxml.jackson.core:jackson-databind` is getting flagged with a vulnerability. Can you help update it? Thanks!

[2019-03-06 09:08] ronaldtse opened #69 "Error report from user"
From our support email:

![codecommit-error](https://user-images.githubusercontent.com/11865/53869089-74956100-4032-11e9-919a-4a7dd44c32df.PNG)

[2019-03-07 14:42] phuonghuynh commented on #69
@ronaldtse from the screenshot, user not select any credentials to connect to SQS.

[2019-03-07 15:16] ronaldtse commented on #69
Thanks @phuonghuynh ! Dhamodharan, you  will have to add AWS credentials to Jenkins for this to work.

Going to close this then.

[2019-03-07 15:16] #69 closed

[2019-03-07 15:23] phuonghuynh opened #70 "Move to CloudBees AWS Credentials Plugin"
@ronaldtse
ATM, the plugin using custom [Credentials](https://github.com/riboseinc/aws-codecommit-trigger-plugin/blob/master/hpi/src/main/java/com/ribose/jenkins/plugin/awscodecommittrigger/credentials/StandardAwsCredentials.java)
I think we should migrate to [CloudBees+AWS+Credentials+Plugin](https://wiki.jenkins.io/display/JENKINS/CloudBees+AWS+Credentials+Plugin)

[2019-03-07 15:44] ronaldtse commented on #70
@phuonghuynh agree, please help proceed! 👍

[2019-03-08 04:05] Dhaamodharan commented on #69
Thanks @phuonghuynh @ronaldtse !, Previously I have tried to add the credentials, I am able to. But when I select the credentials from the drop down it was not showing there, I have reconfigured it. It is sorted then.

Thanks for the response.

[2019-03-19 16:16] schrill opened #71 "groovy bootstrap script usage"
Can anybody tell me how can I use standard aws credentials inside a groovy script to bootstrap credentials via cli? I was not able to find such usage like other jenkins credentials usage plugins like for ex. https://devoptimize.wordpress.com/2018/03/26/creating-jenkins-credentials-with-groovy/

[2019-03-27 07:02] ronaldtse opened #72 "FasterXML jackson-databind update needed"

[2019-03-27 14:14] phuonghuynh commented on #68
[v2.0.7](https://updates.jenkins.io/download/plugins/aws-codecommit-trigger/2.0.7/aws-codecommit-trigger.hpi) published to update "jackson-databind" to v2.9.8

Duplicate with #72

[2019-10-25 20:34] vweng commented on #54
I think I had same issue and it bogs down to the trailing slash of the repo URL. Basically Jenkins seems to automatically append a trailing slash to it when it's set by a pipeline script. To fix, I had to change the isMatch() method in com.ribose.jenkins.plugin.awscodecommittrigger.model.entities.codecommit.CodeCommitEvent class to the following:

    public boolean isMatch(final URIish uri) {

[2019-10-25 20:40] vweng opened #73 "Does it support pull-request trigger?"
Does this plugin support triggering build when a new PR is created or updated?

thanks.

[2019-11-04 21:22] vweng opened #74 "Set the triggering branch to an Environment Variable"
It would be great to have the plugin set a env var to indicate the triggering branch. e.g. set CC_SOURCE_BRANCH env or as a dynamic param of passing to the job.

[2019-11-14 14:02] jseiser opened #75 "Jenkins ver. 2.203 - Crashing"
2019-11-14 13:59:17.832+0000 [id=104]	SEVERE	h.i.i.InstallUncaughtExceptionHandler$DefaultUncaughtExceptionHandler#uncaughtException: A thread (Thread-22/104) died unexpectedly due to an uncaught exception, this may leave your Jenkins in a bad way and is usually indicative of a bug in the code.
java.lang.ClassNotFoundException: org.joda.time.format.DateTimeFormat
	at jenkins.util.AntClassLoader.fi

[2019-11-15 03:35] phuonghuynh commented on #75
Thanks for the report @jseiser, checking it

[2019-11-19 03:19] jseiser commented on #75
@phuonghuynh  anything else debug wise I can provide?

[2019-12-12 14:05] Vermyndax commented on #75
We also had this issue in Jenkins LTS 2.190.3

[2019-12-27 09:49] sahil-zymr commented on #67
Any updates on this issue?
I am also facing a similar issue :

java.lang.NoClassDefFoundError: Could not initialize class com.amazonaws.auth.internal.AWS4SignerUtils
	at com.amazonaws.auth.internal.AWS4SignerRequestParams.<init>(AWS4SignerRequestParams.java:99)
	at com.amazonaws.auth.AWS4Signer.sign(AWS4Signer.java:225)
	at com.amazonaws.http.AmazonHttpClient$RequestExecutor.executeOneRequest(Amaz

[2019-12-27 18:04] phuonghuynh commented on #67
New beta version might fix this issue, you can give it a try,

http://updates.jenkins-ci.org/download/plugins/aws-codecommit-trigger/3.0.0-beta-1/aws-codecommit-trigger.hpi

you can also switch to [experiment](https://jenkins.io/doc/developer/publishing/releasing-experimental-updates/) Jenkins update url to pull beta version,

[2019-12-30 11:05] bngsudheer opened #80 "AWS Code Commit Trigger SQS Plugin does not list credentials"
On the Configure System page, I see the form fields. The page allows me to add a Credential. But does not list the available credentials. Hence cannot proceed further.

Jenkins ver. 2.210
AWS CodeCommit Trigger Plugin: 2.0.7

https://imgur.com/a/4WcX46R

[2019-12-30 11:46] bngsudheer commented on #80
It took me a while to realize "Standard AWS Credentials"

[2019-12-30 11:46] #80 closed

[2019-12-30 11:47] bngsudheer opened #81 "Unable to select queue"
On the Configure System page, I see the form fields. When I select a credential and AWS region I get an error with a trace:

Jenkins ver. 2.210
AWS CodeCommit Trigger Plugin: 2.0.7

[code]

[2019-12-30 11:57] bngsudheer commented on #81
Installing the system package `joda-time` did not help

[2019-12-30 12:02] bngsudheer commented on #81
Latest stack trace:
[code]

[2019-12-30 12:24] sahil-zymr commented on #67
@phuonghuynh
Thanks for the updates.
Credentials >> Standard AWS credentials are not working with the beta version plugin which you provided.
![image](https://user-images.githubusercontent.com/45348936/71581841-391dd300-2b2d-11ea-9986-c3a481f70e0d.png)

[2019-12-30 13:02] phuonghuynh commented on #67
Yes, you can go to global config, then click on Migration button to do migration to new Credentials Model

[2020-01-04 16:31] phuonghuynh commented on #81
@bngsudheer could you try with new v3.0.0 for this ?

[2020-01-04 16:34] phuonghuynh commented on #75
Might be new version could fix this, v3.0.0

[2020-01-04 16:39] phuonghuynh opened #83 "Provide pipeline syntax with sample"
Related issue #71 , #29

[2020-01-07 10:35] bngsudheer commented on #81
@phuonghuynh thanks. I am able to select the queue now. Test from the Jenkins configuration page worked. But Jenkins did not run the multubranch pipeline when a commit was pushed to AWS CodeCommit.

[2020-01-14 17:31] jseiser commented on #67
@phuonghuynh

This is still not working.

[code]

[2020-01-15 15:28] ndurchx commented on #67
Since Version 3.0.0, the problem ist fixed for me.

[2020-01-15 17:16] #67 closed

[2020-01-15 17:17] phuonghuynh commented on #67
@jseiser pls reopen if needed.

[2020-05-01 06:07] kalyanitcse05 commented on #29
i am facing the same issue, any work arround for this ?

[2020-05-01 15:05] phuonghuynh commented on #29
@kalyanitcse05 might be this help? #58

[2020-05-01 19:24] kalyanitcse05 commented on #29
Tried Manual build couple of times, still it's not same issue.

[2020-05-02 15:54] phuonghuynh commented on #29
@kalyanitcse05 do you have any log? how did you use the plugin in your pipeline script? I will try to reproduce it.
which jenkins and plugin version you are using ?

[2020-05-11 21:53] kalyanitcse05 commented on #29
i am using Jenkins ver. 2.176.3
checked the option "Build when a CodeCommit repository is updated and notifies a SQS queue"
AWS SQS Build Trigger Plugin. 2.0.1

--

--

log :
May 01, 2020 5:54:36 AM [com.ribose.jenkins.plugin.awscodecommittrigger.SQSTriggerBuilder][thread-0000E1]
INFO: Cancel the build since no change found
May 01, 2020 5:54:36 AM [com.ribose.jenkins.plugin.awscodecommittrigger.SQ

[2020-07-10 09:44] JimmyJammy opened #84 "Not able to select region or SQS queue from the UI"
![Screen Shot 2020-07-10 at 5 38 08 AM](https://user-images.githubusercontent.com/5476076/87140735-f83b0f80-c26f-11ea-86e0-fdf9f2c4ef66.png)

I'm able to use my Access Key and Secret, and it returns a success message when I test, but there region has no dropdown and the because of that, there is nothing to select from the available queues.

On Jenkins version: 2.244

[2020-08-11 07:51] micxyj commented on #84
I also encountered the same situation, and have verified the plugin can work on Jenkins version 2.235.1, but can't work on latest version.

[2020-09-21 16:59] phuonghuynh commented on #75
Closed due to inactivity, will reopen if needed

[2020-09-21 16:59] #75 closed

[2020-10-05 13:15] gsotiriou commented on #84
I ran into the same issue recently.

[2020-10-06 08:10] phuonghuynh commented on #70
Done in v3.x

[2020-10-06 08:10] #70 closed

[2020-10-06 17:59] phuonghuynh commented on #84
New version has been released, to fix this issue, https://repo.jenkins-ci.org/releases/org/jenkins-ci/plugins/aws-codecommit-trigger/3.0.2/

[2020-10-06 18:00] phuonghuynh opened #86 "Support multibranch pipeline when a commit was pushed to AWS CodeCommit."
From #81

[2020-10-06 18:01] phuonghuynh commented on #81
@bngsudheer moved your last comment into new issue for further investigation. Closing this now.

[2020-10-06 18:01] #81 closed

[2020-10-06 18:02] phuonghuynh commented on #73
@ronaldtse should we consider to support this?

[2020-10-06 18:03] phuonghuynh commented on #74
I agree, I will add this soon

[2020-10-06 18:05] phuonghuynh commented on #72
Close this since we are using aws-credentials now, this lib is maintained in that plugin. #70

[2020-10-06 18:05] #72 closed

[2020-10-06 18:07] phuonghuynh commented on #71
@schrill we have updated README for sample pipeline script. Close this for now. Please feel free to reopen if needed.

[2020-10-06 18:07] #71 closed

[2020-10-06 18:09] phuonghuynh commented on #45
Close this since we are using aws-sdk plugin, so aws-jdk version is maintained in that plugin, #70

[2020-10-06 18:09] #45 closed

[2020-10-06 18:09] phuonghuynh commented on #34
We will use GHA for this, so close this issue for now

[2020-10-06 18:09] #34 closed

[2020-10-06 18:10] phuonghuynh commented on #29
Close this for now, please feel free to submit new issue and link this issue if needed.

[2020-10-06 18:10] #29 closed

[2020-10-06 18:12] phuonghuynh commented on #64
Close this since it quiet too long time.

[2020-10-06 18:12] #64 closed

[2020-10-06 18:15] phuonghuynh commented on #68
Close this since #72 closed

[2020-10-06 18:15] #68 closed

[2020-10-06 18:16] phuonghuynh commented on #83
README updated with pipeline syntax

[2020-10-06 18:16] #83 closed

[2020-10-07 07:47] phuonghuynh commented on #73
@ronaldtse AWS codecommit does not support PR event for now, what you think?

![Screenshot_11](https://user-images.githubusercontent.com/705510/95302357-0cf96480-08ac-11eb-9724-2e0cfccf7921.png)

[2020-10-08 01:08] ronaldtse commented on #73
I see, let's skip this for now since it's not yet possible.

[2020-10-08 01:08] #73 closed

[2020-10-08 01:09] ronaldtse commented on #84
Closing since latest release fixes it, please mention here if anyone runs into further problems. Thanks @JimmyJammy for reporting!

[2020-10-08 01:09] #84 closed

[2020-10-08 17:25] phuonghuynh opened #103 "Add support tag info in Jenkins update site"
As picture bellow

![Screenshot_14](https://user-images.githubusercontent.com/705510/95492863-e3ccf700-09c5-11eb-9964-4ca60d32b0af.png)

[2020-10-10 05:31] phuonghuynh opened #104 "Support AWS EventBridge?"
AWS EventBridge, https://aws.amazon.com/eventbridge/, can be used to replace for CodeCommit Event Settings to fully support CodeCommiet Events. Full list Events supported can be found here, https://docs.aws.amazon.com/codecommit/latest/userguide/monitoring-events.html

Related issue #73

[2020-10-12 08:00] phuonghuynh commented on #103
Fixed

![Screenshot_20](https://user-images.githubusercontent.com/705510/95720559-9db0b580-0c9b-11eb-9c09-e5702017f7e4.png)

[2020-10-22 18:32] phuonghuynh opened #105 "Ability to use sqs functional without codecommit"
Ref https://issues.jenkins-ci.org/browse/JENKINS-64013

cc @ronaldtse

[2020-10-23 14:46] securusnextjail-dot commented on #86
does this plugin currently support multibranch pipelines in jenkins.? Please really need this feature

[2020-10-23 16:59] ronaldtse commented on #105
@phuonghuynh what can we do about this request?

[2021-07-09 15:29] rrojasli opened #106 "AWS Codecommit trigger plugin breaks 'Manage Jenkins->Configure System->Save/Apply'"
With this plugin enabled 'Manage Jenkins->Configure System->Save/Apply' Do not work.
Clicking in Apply and Save and nothinf happens

[2021-07-13 05:27] #106 closed

[2021-07-13 06:06] phuonghuynh opened #109 "Setup secrets for Release new HPI using GHA"
For @ronaldtse
Required secrets to allow upload HPI to updates.jenkins site: `JENKINS_CI_USERNAME` and `JENKINS_CI_PASSWORD`

It is your "Jenkins Jira" account. https://issues.jenkins.io

[2021-07-16 08:29] NaveenBadal opened #110 "Not able to save and apply the configuration after installing code commit trigger pluging"
Hello

I setup a ec2 windows instance on aws. I installed the Jenkins on it. Now I am trying to integrate the code commit trigger plugin. In the Configure System Page, When I choose my AWS credentials, Select the region as us east 2, selected by queue, and click on test button, it is showing successful.

But when I am clicking on Apply or OK button at the bottom to save these changes, nothing is h

[2021-07-17 09:36] phuonghuynh commented on #110
Same issue: https://github.com/riboseinc/aws-codecommit-trigger-plugin/issues/106

[2021-07-17 09:58] phuonghuynh commented on #110
Deployed new version to fix saving issue, could you help to check? https://repo.jenkins-ci.org/releases/org/jenkins-ci/plugins/aws-codecommit-trigger/3.0.11/aws-codecommit-trigger-3.0.11.hpi

[2021-07-17 09:58] phuonghuynh commented on #106
Deployed new version to fix saving issue, could you help to check? https://repo.jenkins-ci.org/releases/org/jenkins-ci/plugins/aws-codecommit-trigger/3.0.11/aws-codecommit-trigger-3.0.11.hpi

[2021-07-17 14:43] NaveenBadal commented on #110
Hello,

I just tried out the new version. It is working fine now and triggering the
build on code commit.
Thanks for your quick response.

Regards
Naveen Badal

On Sat, 17 Jul 2021 at 15:28, phuong ***@***.***> wrote:

[2021-07-18 12:38] phuonghuynh commented on #110
fixed in v3.0.11

[2021-07-18 12:38] #110 closed

[2022-01-07 15:40] jheidlage1222 opened #112 "Error regarding java.lang.ClassNotFoundException: com.amazonaws.services.sqs.AmazonSQS"
I'm getting this error in the jenkins logs and the plugin seems to have stopped functioning.

Failed to instantiate Key[type=com.ribose.jenkins.plugin.awscodecommittrigger.credentials.StandardAwsCredentials$DescriptorImpl, annotation=[none]]; skipping this component
java.lang.ClassNotFoundException: com.amazonaws.services.sqs.AmazonSQS
	at jenkins.util.AntClassLoader.findClassInComponents(AntClass

[2022-01-11 03:59] duysdc commented on #42
Hi phuonghuynh, I encounter the same problem as @epmccormick  . I look into jenkins.err.log and I found this error
WARNING h.ExtensionFinder$GuiceFinder$FaultTolerantScope$1#error: Failed to instantiate Key[type=io.relution.jenkins.awssqs.SQSTriggerQueue$DescriptorImpl, annotation=[none]]; skipping this component
java.lang.ClassNotFoundException: com.amazonaws.services.sqs.AmazonSQS

[2022-01-12 08:57] phuonghuynh commented on #112
Which version of "https://plugins.jenkins.io/aws-credentials/" you are using? this plugin using v1.20 of "aws-credentials"

[2022-01-15 05:05] bitcalibrator commented on #112
Pulled 1.31 from https://plugins.jenkins.io/aws-credentials/#releases and installed that manually before aws-codecommit-trigger-plugin and it looks like it is working. I'm assuming aws-credentials 1.32 broke aws-codecommit-trigger-plugin with this:

Theory: aws-codecommit-trigger-plugin may need to depend on aws-java-sdk or aws-java-sdk-sqs as it was getting aws-java-sdk indirectly through aws-cre

[2022-01-21 00:53] adosale opened #113 "Plugin section doesn't exist in Configure System"
Hi guys! Kinda new here, I'm trying to use this plugin but I don't know what's wrong. I follow the steps and still can't see the plugin configuration in Jenkins > Manage Jenkins > Configure System.

I don't know if it has something to do with this:

The following installed plugins are deprecated
Multiple SCMs plugin

When I install aws-codecommit-trigger-plugin it says that it downloads this depre

[2022-01-21 01:32] ronaldtse commented on #113
@phuonghuynh would you be able to help address this issue? Thanks!

[2022-01-21 04:59] phuonghuynh commented on #113
Yes

[2022-01-21 13:04] adosale commented on #113
Thanks guys! If you need more info I'll be right here.

[2022-01-24 04:25] phuonghuynh commented on #113
@adosale if you have any Jenkins log could help us ; what Jenkins version you are using?

[2022-01-24 13:30] adosale commented on #113
Hello! @phuonghuynh sure! Here's the log:
`Jan 24, 2022 1:28:18 PM WARNING hudson.ExtensionFinder$GuiceFinder$FaultTolerantScope$1 error
Failed to instantiate Key[type=com.ribose.jenkins.plugin.awscodecommittrigger.credentials.StandardAwsCredentials$DescriptorImpl, annotation=[none]]; skipping this component
java.lang.ClassNotFoundException: com.amazonaws.services.sqs.AmazonSQS
	at jenkins.util.An

[2022-01-24 14:38] adosale commented on #112
Hi @bitcalibrator . Actually, I tried the solution in #112 [https://github.com/riboseinc/aws-codecommit-trigger-plugin/issues/112#issuecomment-1013613444](url) about pulling 1.31 from https://plugins.jenkins.io/aws-credentials/#releases and installed that manually. It works because you can configure the plugin in the Configure System section but  for some reason with this workaround when I push th

[2022-01-24 14:41] adosale commented on #112
what Jenkins version you are using? @bitcalibrator

[2022-01-24 17:19] adosale commented on #113
[UPDATE] @ronaldtse @phuonghuynh
I found out that the trigger was working and polling based on SQS queue and CodeCommit repo branch but I still getting this log even when I push a change says "Cancel the build since no change found":

`Jan 24, 2022 5:04:16 PM INFO [com.ribose.jenkins.plugin.awscodecommittrigger.model.CodeCommitMessageParser][thread-000060]
Retrieved message-id: 4e96f919-6a05-4b73-

[2022-01-25 01:46] phuonghuynh commented on #113
Thanks @adosale

[2022-03-02 06:20] phuonghuynh commented on #113
New version has been deployed, @adosale ; could you help to check if it resolves your issue ?
https://repo.jenkins-ci.org/artifactory/releases/org/jenkins-ci/plugins/aws-codecommit-trigger/3.0.12/

[2022-03-02 06:21] phuonghuynh commented on #112
@jheidlage1222 New version has been deployed, https://repo.jenkins-ci.org/artifactory/releases/org/jenkins-ci/plugins/aws-codecommit-trigger/3.0.12/ ; I hope it resolves your issue. Fell free to reopen it if it doesn't

[2022-03-02 06:21] phuonghuynh commented on #113
Fell free to reopen it if it doesn't

[2022-03-02 10:10] phuonghuynh commented on #109
Done

[2022-03-02 10:10] #109 closed

[2022-10-05 12:32] nicoloGiaccone opened #119 "Setting a pipeline to observe more than one branch"
Hi,
i've set up a pipeline using this plugin, i can use it without any error and works great at every push that meets the CodeCommit trigger. However if i put more than one branches in the `branches` variable of the `checkout scm` job in the pipeline, when the build is triggered the pipeline takes commit from all branches. How can i avoid this, and have that the pipeline uses only the branch that